<a href="https://colab.research.google.com/github/Prithivi1515/Demo/blob/main/DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Reverse a String

In [ ]:
def reverse_string(s):
    return s[::-1]

# Example usage
string = "hello"
result = reverse_string(string)
print("Reversed string:", result)

2. Count the Number of Vowels in a String

In [ ]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

# Example usage
string = "Hello World"
vowel_count = count_vowels(string)
print("Number of vowels:", vowel_count)

3. Check if a Given String is a Palindrome

In [ ]:
def is_palindrome(s):
    return s == s[::-1]

# Example usage
string = "radar"
palindrome_check = is_palindrome(string)
print("Is palindrome:", palindrome_check)

4. Check if Two Strings are Anagrams

In [ ]:
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

# Example usage
str1 = "listen"
str2 = "silent"
anagram_check = are_anagrams(str1, str2)
print("Are anagrams:", anagram_check)

5. Find All Occurrences of a Substring

In [ ]:
def find_substring_occurrences(s, sub):
    start = 0
    while True:
        start = s.find(sub, start)
        if start == -1:
            break
        print(f"Found at index {start}")
        start += len(sub)

# Example usage
string = "abracadabra"
substring = "abra"
find_substring_occurrences(string, substring)

6. Basic String Compression

In [ ]:
def compress_string(s):
    compressed = []
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(f"{s[i-1]}{count}")
            count = 1
    compressed.append(f"{s[-1]}{count}")
    return ''.join(compressed)

# Example usage
string = "aaabbcccc"
print(compress_string(string))

7. Determine if a String has All Unique Characters

In [ ]:
def has_unique_chars(s):
    return len(set(s)) == len(s)

# Example usage
string = "abcdef"
print(has_unique_chars(string))

8. Convert a String to Uppercase or Lowercase

In [ ]:
def to_uppercase(s):
    return s.upper()

def to_lowercase(s):
    return s.lower()

# Example usage
string = "Hello World"
print(to_uppercase(string))  # Output: "HELLO WORLD"
print(to_lowercase(string))  # Output: "hello world"

9. Count the Number of Words in a String

In [ ]:
def count_words(s):
    return len(s.split())

# Example usage
string = "Hello world, this is Python"
print(count_words(string))  # Output: 5

10. Concatenate Two Strings Without Using the + Operator

In [ ]:
def concatenate_strings(s1, s2):
    return "{}{}".format(s1, s2)

# Example usage
str1 = "Hello "
str2 = "World"
print(concatenate_strings(str1, str2))  # Output: "Hello World"

11. Remove All Occurrences of a Specific Element from a List

In [ ]:
def remove_element(lst, element):
    return [x for x in lst if x != element]

# Example usage
my_list = [1, 2, 3, 2, 4, 2]
print(remove_element(my_list, 2))  # Output: [1, 3, 4]

12. Find the Second Largest Number in a List

In [ ]:
def find_second_largest(lst):
    unique_numbers = list(set(lst))
    unique_numbers.sort()
    return unique_numbers[-2] if len(unique_numbers) > 1 else None

# Example usage
my_list = [10, 20, 4, 45, 99]
print(find_second_largest(my_list))  # Output: 45

13. Count the Occurrences of Each Element in a List

In [ ]:
def count_elements(lst):
    return {x: lst.count(x) for x in lst}

# Example usage
my_list = [1, 2, 2, 3, 3, 3]
print(count_elements(my_list))  # Output: {1: 1, 2: 2, 3: 3}

14. Reverse a List In-Place Without Using Built-In Reverse Functions

In [ ]:
def reverse_list(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1

# Example usage
my_list = [1, 2, 3, 4, 5]
reverse_list(my_list)
print(my_list)  # Output: [5, 4, 3, 2, 1]

15. Find and Remove Duplicates from a List While Preserving Original Order

In [ ]:
def remove_duplicates(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

# Example usage
my_list = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(my_list))  # Output: [1, 2, 3, 4, 5]

16. Check if a List is Sorted

In [ ]:
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

# Example usage
my_list = [1, 2, 3, 4, 5]
print(is_sorted(my_list))  # Output: True

17. Merge Two Sorted Lists

In [ ]:
def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)

# Example usage
list1 = [1, 3, 5]
list2 = [2, 4, 6]
print(merge_sorted_lists(list1, list2))  # Output: [1, 2, 3, 4, 5, 6]

18. Find the Intersection of Two Lists

In [ ]:
def list_intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

# Example usage
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
print(list_intersection(list1, list2))  # Output: [3, 4]

19. Find the Union of Two Lists Without Duplicates

In [ ]:
def list_union(lst1, lst2):
    return list(set(lst1) | set(lst2))

# Example usage
list1 = [1, 2, 3]
list2 = [3, 4, 5]
print(list_union(list1, list2))  # Output: [1, 2, 3, 4, 5]

20. Shuffle a List Randomly Without Using Built-In Shuffle Functions

In [ ]:
import random

def shuffle_list(lst):
    shuffled = lst[:]
    for i in range(len(shuffled)):
        j = random.randint(0, i)
        shuffled[i], shuffled[j] = shuffled[j], shuffled[i]
    return shuffled

# Example usage
my_list = [1, 2, 3, 4, 5]
print(shuffle_list(my_list))  # Output: A randomly shuffled list

21. Return a New Tuple Containing Elements Common to Both Input Tuples

In [ ]:
def common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))

# Example usage
tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)
print(common_elements(tuple1, tuple2))  # Output: (3, 4)

22. Intersection of Two Sets of Integers

In [ ]:
def set_intersection(set1, set2):
    return set1 & set2

# Example usage
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set_intersection(set1, set2))  # Output: {3}

23. Concatenate Two Tuples

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

# Example usage
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
print(concatenate_tuples(tuple1, tuple2))  # Output: (1, 2, 3, 4, 5, 6)

24. Print Elements in the First Set but Not in the Second

In [ ]:
def difference_of_sets(set1, set2):
    return set1 - set2

# Example usage
set1 = {"apple", "banana", "cherry"}
set2 = {"cherry", "date"}
print(difference_of_sets(set1, set2))  # Output: {"apple", "banana"}

25. Reverse a Tuple

In [ ]:
def reverse_tuple(t):
    return t[::-1]

# Example usage
tuple1 = (1, 2, 3, 4)
print(reverse_tuple(tuple1))  # Output: (4, 3, 2, 1)

26. Convert a Set to a Sorted List

In [ ]:
def sort_set_to_list(s):
    return sorted(s)

# Example usage
set1 = {3, 1, 4, 2}
print(sort_set_to_list(set1))  # Output: [1, 2, 3, 4]

27. Convert a List to a Set

In [ ]:
def list_to_set(lst):
    return set(lst)

# Example usage
my_list = [1, 2, 2, 3, 3, 3]
print(list_to_set(my_list))  # Output: {1, 2, 3}

28. Create a Tuple from Elements of a List

In [ ]:
def list_to_tuple(lst):
    return tuple(lst)

# Example usage
my_list = [1, 2, 3, 4]
print(list_to_tuple(my_list))  # Output: (1, 2, 3, 4)

29. Check if a Given Key Exists in a Dictionary

In [ ]:
def key_exists(d, key):
    return key in d

# Example usage
my_dict = {"a": 1, "b": 2}
print(key_exists(my_dict, "a"))  # Output: True

30. Print a Sorted List of Keys and Values of a Dictionary

In [ ]:
def sorted_dict(d):
    return sorted(d.items())

# Example usage
my_dict = {"b": 2, "a": 1, "c": 3}
print(sorted_dict(my_dict))  # Output: [('a', 1), ('b', 2), ('c', 3)]

31. Merge Two Dictionaries

In [ ]:
def merge_dictionaries(dict1, dict2):
    return {**dict1, **dict2}

# Example usage
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
print(merge_dictionaries(dict1, dict2))  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

32. Remove a Specified Key from a Dictionary

In [ ]:
def remove_key(d, key):
    if key in d:
        del d[key]
    return d

# Example usage
my_dict = {"a": 1, "b": 2, "c": 3}
print(remove_key(my_dict, "b"))  # Output: {'a': 1, 'c': 3}

33. Create a Dictionary from Two Lists

In [ ]:
def lists_to_dict(keys, values):
    return dict(zip(keys, values))

# Example usage
keys = ["name", "age"]
values = ["John", 25]
print(lists_to_dict(keys, values))  # Output: {'name': 'John', 'age': 25}

34. Count the Occurrences of Each Character in a String

In [ ]:
def count_characters(s):
    return {char: s.count(char) for char in set(s)}

# Example usage
string = "hello"
print(count_characters(string))  # Output: {'h': 1, 'e': 1, 'l': 2, 'o': 1}

35. Find the Maximum Value in a Dictionary

In [ ]:
def max_value_in_dict(d):
    return max(d.values()) if d else None

# Example usage
my_dict = {"a": 5, "b": 2, "c": 8}
print(max_value_in_dict(my_dict))  # Output: 8